<div class="main-container">
  <div class="main-container-background">
  </div>
  <div class="main-container-form">
    <div class="main-container-form-title">
      <h2>Enter your trip information</h2>
    </div>
    <div class="main-container-form-first-row">
      <mat-form-field>
        <input matInput placeholder="Reservation number">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name on Reservation">
      </mat-form-field>
    </div>
    <div class="main-container-form-second-row">
      <mat-form-field>
        <mat-label>Ship</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="main-container-form-third-row">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">Remember my information</mat-checkbox>
      <button mat-raised-button color="primary">FIND MY RESERVATION</button>
    </div>
  </div>
</div>