<div class="main-container">
  <div class="main-container-background">
  </div>
  <form [formGroup]="profileForm" class="main-container-form" (ngSubmit)="excecuteAction(action)">
    <div class="main-container-form-title">
      <h2>Enter your trip information</h2>
    </div>
    <div class="main-container-form-first-row">
      <mat-form-field>
        <input formControlName="resevationNumber" matInput [readonly]="readonly" placeholder="Reservation number">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="lastNameReservation"  matInput [readonly]="readonly" placeholder="Last name on Reservation">
      </mat-form-field>
    </div>
    <div class="main-container-form-second-row">
      <mat-form-field>
        <mat-label>Ship</mat-label>
        <mat-select formControlName="ship" [disabled]="readonly">
          <mat-option *ngFor="let planes of planes" [value]="planes.value">
            {{planes.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="date" matInput [readonly]="readonly" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="main-container-form-third-row">
      <mat-checkbox formControlName="rememberMe" class="example-margin" [disabled]="readonly">Remember my information
      </mat-checkbox>
      <button type="submit" [disabled]="!profileForm.valid" mat-raised-button color="primary">{{action | uppercase}}</button>
    </div>
  </form>
</div>