.travel-stadistics{
    margin: 5%;
    display: flex;
    justify-content: center;
    &-duration{
        width: 50%;
        mat-card{
            color: #3f51b5;
            margin: 5%;
        }
    }   
    &-distance{
        width: 50%;
        mat-card{
            color: #3f51b5;
            margin: 5%;
        }
    }   
}
    