<div class="container" fxLayout="column" fxLayoutAlign="center">

  <div fxFlex>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker *ngIf="!dir ; else direction" [latitude]="latitude" [longitude]="longitude"></agm-marker>
      <ng-template #direction>
        <agm-direction [origin]="dir.origin" [destination]="dir.destination">
        </agm-direction>
      </ng-template>
    </agm-map>
  </div>

  <div fxFlex fxFlexAlign="center" class="autocomplete-container" [ngStyle.xs]="{'min-width.%': 100}"
    [ngStyle.sm]="{'width.%': 70}">
    <mat-google-maps-autocomplete (onAddressSelected)="onAddressSelected($event)"
      (onLocationSelected)="onLocationSelected($event)">
    </mat-google-maps-autocomplete>
  </div>

</div>