<div class="container" fxLayout="column" fxLayoutAlign="center">
  <div class="autocomplete">
    <h3>Where do you want to go?</h3>
    <mat-google-maps-autocomplete
      (onLocationSelected)="setLocation($event)" country="ar" type="address" strictBounds="true"
      addressLabelText="Destination">
    </mat-google-maps-autocomplete>
    <button mat-raised-button (click)="searchDirections()" [disabled]="!location" color="primary">Search</button>
  </div>
  <div fxFlex>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker *ngIf="!dir ; else direction" [latitude]="latitude" [longitude]="longitude"></agm-marker>
      <ng-template #direction>
        <agm-direction [origin]="dir.origin" [destination]="dir.destination">
        </agm-direction>
      </ng-template>
    </agm-map>
  </div>
  <div class="travel-info">
    <div *ngFor="let item of stadistics">
      <app-travel-stadistics [title]="item.title" [stadistic]="item.stadistic"></app-travel-stadistics>
    </div>
  </div>
</div>